body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--lighting);
  padding: 12px 20px 12px 20px;
  color: var(--text-color);
  font-family: Noto Sans, Arial;
}

body.dark {
  --lighting: linear-gradient(180deg, #040918 0%, #091540 100%);
  --text-color: hsl(0, 0%, 93%);
  --text-color-2: hsl(217, 61%, 90%);
  --active-text-color:hsl(227, 75%, 14%);
  --active-state-color: hsl(3, 86%, 64%);
  --container-bg-1: hsl(226, 25%, 17%);
  --container-bg-2: hsl(225, 23%, 24%);
  --button-bg-color: hsl(226, 11%, 37%);
  --toggle-bg-color: hsl(0, 0%, 78%);
}

body.light {
  --lighting: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --text-color: hsl(227, 75%, 14%);
  --text-color-2: hsl(227, 75%, 14%);
  --active-text-color: hsl(0, 0%, 93%);
  --active-state-color: hsl(3, 77%, 44%);
  --container-bg-1: hsl(200, 60%, 99%);
  --container-bg-2: hsl(200, 60%, 99%);
  --button-bg-color: hsl(217, 61%, 90%);
  --toggle-bg-color: hsl(217, 61%, 90%);
}

p {
  margin: 0;
}

header {
  width: 100%;
  background-color: var(--container-bg-1);
  color: white;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.lighting-mode {
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-bg-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lighting-icon {
  width: 14px;
  margin: 9px 6px 9px 6px;
}

nav {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 540px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }
}

.nav-title {
  font-size: 22px;
  font-weight: 600;
}

.button-filters-container button {
  border: 1px solid var(--container-bg-2);
  border-radius: 16px;
  padding: 6px 12px 6px 12px;
  margin-left: 4px;
  background-color: var(--container-bg-2);
  color: var(--text-color);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
  height: 500px;
  gap: 12px;
  justify-content: center;
}

.extension-container {
  min-height: 130px;
  max-height: 150px;
  padding: 12px;
  background-color: var(--container-bg-1);
  border: 1px solid var(--container-bg-2);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.extension-description {
  display: flex;
  justify-content: center;
  align-items: start;
}

.extension-description img {
  width: 50px;
}

.description-container {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.extension-name {
  margin-bottom: 4px;
  font-weight: 600;
}

.extension-text {
  font-size: 13px;
  color: var(--text-color);
}

.extension-settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extension-settings button {
  color: var(--text-color-2);
  font-weight: 500;
  background-color: var(--container-bg-1);
  border: 1px solid var(--toggle-bg-color);
  border-radius: 14px;
  padding: 6px 10px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 30px; /* Adjust as needed */
  height: 16px; /* Adjust as needed */
}

.toggle input {
  opacity: 0; /* Hide the default checkbox */
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-bg-color); /* Off state background color */
  transition: 0.4s; /* Smooth transition for changes */
  border-radius: 34px; /* Rounded corners for the track */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Size of the knob */
  width: 14px; /* Size of the knob */
  left: 2px; /* Initial position of the knob */
  bottom: 1px;
  background-color: white; /* Knob color */
  transition: 0.4s;
  border-radius: 50%; /* Make the knob circular */
}

input:checked + .slider {
  background-color: var(--active-state-color); /* On state background color */
}

input:checked + .slider:before {
  transform: translateX(12px); /* Move knob to the right when checked */
}

button:hover {
  cursor: pointer;
  border-color: var(--active-state-color);
}

.remove:hover {
  background-color: var(--active-state-color);
  border-color: var(--active-state-color);
  color: var(--active-text-color);
}


button.pressed {
  background-color: var(--active-state-color);
  color: var(--active-text-color);
}

